body {
  background-color: #edf5f5;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em );
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em );
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.pokedex {

  display: inline;
  justify-content: center;
  
}

.pokedex {
  width: 30%;
  align-items: center;

}

.pokemon{
  width: 30%;
  align-content: center;
}

.pokebola {
  width: 20%;
  align-items: center;
  background-color: transparent;

}

.busqueda{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.l-poke {
  margin: 10% 6% 10px 5%;
}

.i-poke {
  margin:  10% 6% 10px 0%;
}


.b-poke {
  margin:  10% 6% 10px 5%;
}